div(class="large-12 columns main_header")
	// ko if: window.navigator.standalone === true
	div(class="large-12 small-12 columns launchedFromHomeIos")
	// /ko

	div(class="large-12 small-12 columns header_top", data-bind="css: { header_top_ios : window.navigator.standalone === true } ")
		span.left
			|Pokanikki 0.2


		include hidden_forms.jade


		- { if (session.user != null)
			span.right
				a(href="/admin", style="text-decoration: underline", data-bind="if: session.username() === 'rtv'") Admin
				| &nbsp;&nbsp;&nbsp;
				a(href="/logout", style="text-decoration: underline") Kirjaudu ulos
		- }

	div(class="large-12 small-12 columns left", style="white-space:nowrap; overflow: hidden")
		h1(style="display: inline")
			a(href="/home")
				span#main_title.left(style="text-overflow: ellipsis !important")
					i(class="fi-home") &nbsp;
					| POKANIKKI
		
			span#club_title.right(data-bind="if: session.name")
				span
					a(href="/seurat", data-bind="text: session.clubShort", style="text-transform: uppercase")
					//|LSQ

div(class="large-12 small-12 columns", style="padding-left: 0; padding-right: 0; margin-bottom: 0px; box-shadow: 0px 1px 4px #000")
	nav(class="top-bar", style="max-width: 1920px", data-topbar)
		- { if ( session.user == null)
			ul.title-area
				li.name
					h1
						li.divider
						li
							a(href="/seurat")
								span Seurat
								
				li(class="toggle-topbar menu-icon")
					a(href="#")
						span Menu
			section.top-bar-section
				ul.left
					li.divider

		
				ul.right(data-bind="ifnot: session.name")
					li
						a(href="/autoLogin") Kirjaudu sisään
					
		- }
		
		
		- { if (session.user != null)		
			ul.title-area
				li.name
					h1
						li.divider
						li(data-bind="css : { custom_active : activePage() === 'profile' }")
							a(href="/profile")
								span #{ session.user.name }
								i(class="fi-torso", style="font-size: 18px;  float: left; color: #e3e3e3; padding-right: 3px; margin: 0px")

				li(class="toggle-topbar menu-icon")
					a(href="#")
						span Menu
			section.top-bar-section
				ul.left
					li.divider(data-bind="if: session.name")
					li(data-bind="css: { active: activePage() === 'events' }")
						a(href="/events") Tapahtumat
					li.divider
					li(data-bind="css : { active : activePage() === 'ranking' }")
						a(href="/ranking") Ranking
					li.divider				
					li(data-bind="css : { active : activePage() === 'newgame' }")
						a(href="/newgame") Uusi peli
					li.divider

		- }
			
			
