block append title 
	title(data-bind="text: title")


div(class="large-12 columns main_header")
	// ko if: window.navigator.standalone === true
	div(class="large-12 small-12 columns launchedFromHomeIos")
	// /ko

	div(class="large-12 small-12 columns header_top", data-bind="css: { header_top_ios : window.navigator.standalone === true } ")
		span.left
			|Pokanikki 1.0 &copy; Rami Valta


		include hidden_forms.jade


		- { if (session.user != null)
			span.right
				a(href="/admin", style="text-decoration: underline", data-bind="if: session.username() === 'rtv'") Admin
				| &nbsp;&nbsp;&nbsp;
				a(href="/logout", style="text-decoration: underline") Kirjaudu ulos
		- }

	div(class="large-12 small-12 columns left", style="white-space:nowrap; overflow: hidden")
		h2(style="display: inline")
			a(href="/home")
				img.left.show-for-medium-up(src="/images/logo_s.png", style="height: 52px; position: absolute; z-index: 100")
				img.left.show-for-small-only(src="/images/logo_vs.png", style="height: 37px; position: absolute; z-index: 100")
				span.left.show-for-medium-up(style="text-overflow: ellipsis !important; margin-left: 38px")
					span#main_title POKANIKKI
				span.left.show-for-small-only(style="text-overflow: ellipsis !important; margin-left: 24px")				
					//i(class="fi-home") &nbsp;
					span#main_title POKANIKKI
		
			span#club_title.left(data-bind="if: session.name")
				span
					|&bull;
					a(href="/seurat", data-bind="text: session.clubShort", style="text-transform: lowercase")

div(class="large-12 small-12 columns", style="padding-left: 0; padding-right: 0; margin-bottom: 0px; box-shadow: 0px 1px 4px #000")
	nav(class="top-bar", style="max-width: 1920px", data-topbar)
		- { if ( session.user == null)
			ul.title-area
				li.name
					h1
						li.divider
						li
							a(href="/seurat")
								span Seurat
				li(class="toggle-topbar menu-icon")
					a(href="#")
						span Menu
			section.top-bar-section
				ul.left
					li.divider
				ul.right(data-bind="ifnot: session.name")
					li
						a(href="/autoLogin") Kirjaudu sisään
		- }
		
		- { if (session.user != null)		
			ul.title-area
				li.name
					h1
						li.divider
						li(data-bind="css : { custom_active : activePage() === 'profile' }")
							a(href="/profile/#{session.user._id}")
								span #{ session.user.name }
								i(class="fi-torso", style="font-size: 18px;  float: left; color: #e3e3e3; padding-right: 3px; margin: 0px")

				li(class="toggle-topbar menu-icon")
					a(href="#")
						span Menu
			section.top-bar-section
				ul.left
					li.divider(data-bind="if: session.name")
					li(data-bind="css: { active: activePage() === 'events' }")
						a(href="/events") Tapahtumat
					li.divider
					li(data-bind="css : { active : activePage() === 'ranking' }")
						a(href="/ranking") Ranking
					li.divider				
					li(data-bind="css : { active : activePage() === 'newgame' }")
						a(href="/newgame") Uusi peli
					li.divider

		- }
			
			
