extends layout

block append site_styles
	link(rel="stylesheet" href="/stylesheets/vendor/jquery-ui-1.10.3.custom.min.css")
	
block append site_scripts
	script(src="/javascripts/ranking.js")
	script(src="/javascripts/vendor/jquery-ui-1.10.3.custom.min.js")
	script(src="/javascripts/vendor/jquery.ui.touch-punch.min.js")


block content
	include navbar

	div(class="large-7 medium-7 small-12 columns")
		h4.subheader Seuraranking - LSQ
		
		div#current.large-12.small-12.columns.panel(data-bind="css : { hidden : visiblePage() !== 'current' }")

			div(data-bind="click: toggleHistory")
				a(data-bind="if: sliderVis() == false") Näytä vanhat...
				a(data-bind="if: sliderVis() == true") Piilota vanhat...

		
			div#sliderContainer.large-12.small-12.columns(style="padding-left: 0; padding-right: 0; padding-top: 8px; display: none")
				div.left(style="color: LightGray; font-size: 36px; position: absolute; top: 10px; padding: 2px; letter-spacing: -5px; z-index: 1; left: 26px; font-weight: 700")
					span(data-bind="text: oldRankingFirstDate", style="text-shadow: 0px 0px 2px #eee")
				div.right(style="color: LightGray; font-size: 36px; position: absolute; top: 10px; padding: 2px; letter-spacing: -5px; z-index: 1; right: 26px; font-weight: 700")
					span(data-bind="text: oldRankingLastDate", style="text-shadow: 0px 0px 2px #eee")
				div#sliderWrap.large-12.small-12.columns
					div#slider.large-12.small-12.columns
						div.large-12.small-12.columns(data-bind="value: historySlider, uislider: historySlider, event: { slide: historySliderMove }", name="historySlider", id="historySlider")
				
				p
			div.large-12.small-12.columns
				h5.subheader(style="text-align: center")
					span(data-bind="text: oldRankingDate", style="text-transform: capitalize")
			table(style="width: 100%", style="border-collapse: collapse")
				thead
					tr
				tbody(data-bind="foreach: oldRankingList")
					tr
						// ko if: rank
						td.scoreCell(data-bind="text: rank")
						td.scoreCell
						
							div(data-bind="visible: hotness() === 'hot'")
								i.fi-arrow-up
							div(data-bind="visible: hotness() === 'cold'")
								i.fi-arrow-down
							div(data-bind="visible: hotness() === 'lukewarm' || hotness() === null")
								div(style="background-color: black; border: 1px #000 solid; border-radius: 1000px; width: 6px; height: 6px; margin: auto")
						td.scoreCell(data-bind="text: name", style="width: 100%; text-align: left")
						// /ko



			//div(style="background-color: #eee")
				pre(data-bind="text: ko.toJSON(oldRankings, null, 2)")
		
		
	
	div(class="large-5 medium-5 small-12 columns")
		h4.subheader Kuukauden pelit
		div.large-12.small-12.columns(data-bind="foreach: matchList", style="padding: 2px")
		
			// ko if: ($index() === 0)
	
			div.large-12.small-12.columns.site_gameList.left(data-bind="text: moment(startTime()).format('dddd, DoMoYYYY')", style="color: #9f9f9f; font-size: 13px")
			hr
		
			// /ko
		
			// ko if: $index() > 0 && moment($parent.matchList()[$index() -1].startTime()).format('DDDYY') !== moment(startTime()).format('DDDYY')

			div.large-12.small-12.columns.site_gameList.left(data-bind="text: moment(startTime()).format('dddd, DoMoYYYY')", style="color: #9f9f9f; font-size: 13px")
			hr
		
			// /ko
		
			div.large-12.small-12.columns.site_gameList.gameListHeader(data-bind="click: $root.toggleVisible")
					div.large-4.small-4.columns.site_gameList(data-bind="text: playerOneName", style="text-align: right")
					div.large-4.small-4.columns.site_gameList(style="text-align: center")
						span(data-bind="text: p1GamesWon")
						|&nbsp;-&nbsp;
						span(data-bind="text: p2GamesWon")
					div.large-4.small-4.columns.site_gameList(data-bind="text: playerTwoName", style="text-align: left")
		
				div.large-12.small-12.columns.site_gameList.gameScores(style="display:none", data-bind="if: gameScores().length > 0")
						hr

						div(data-bind="foreach: gameScores", style="text-align: center; padding-bottom: 4px").large-12.small-12.columns

							span(data-bind="text: p1score")
							|-
							span(data-bind="text: p2score")
							span(data-bind="if: ($index() !== ($parent.gameScores().length - 1))")
								|,&nbsp;

						//hr

	div.large-12.small-12.columns.show-for-small(style="height: 36px; background: #e9e9e9")
		&nbsp;

	
	//-
		div.row
			div(style="background-color: #eee")
				pre(data-bind="text: ko.toJSON(session, null, 2)")